.navbar-brand img {
  max-height: 110px !important;  /* tweak this value to taste */
  height: auto !important;
  width: auto !important;
  padding: 8px 0;
}

.navbar {
  min-height: 130px !important;
}
